@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.maincontent{

}
.title1{
  font-size: 56px;
  text-align: left;
  font-weight: lighter;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 8px;
  font-family: "Josefin Sans", sans-serif;
}
.personContainer img {
  border-radius: 100%;
  width: 17pc;
  height: 13pc;
  position: absolute;
  top: 13%;
  left: 23%;
  border: 4px solid #BDD600;
}

.personContainer1 img {
  border-radius: 100%;
  width:15pc;
  height:10pc;
  position: absolute;
  top: 18%;
  left: 73%;
  border: 4px solid #BDD600;
}

.personContainer2 img {
  border-radius: 100%;
  width: 15pc;
  height: 10pc;
  position: absolute;
  top: 66%;
  left: 66%;
  border: 4px solid #BDD600;
}

.personContainer3 img {
  border-radius: 100%;
  width:15pc;
  height:10pc;
  position: absolute;
  top: 58%;
  left: 18%;
  border: 4px solid #BDD600;
}

hr {
  border: none;
  border-top: 12px solid #000;
  margin: 20px 0;
  position: absolute;

}

.horizontal-line {
  top: 51%;
  left: 53%;
  position: absolute;
  width: 66%;
  height: 18pc;
  border: 2px solid black;
  border-radius: 41%;
  border-right:none;
  border-left: none;
  transform-origin: left center;
  border-bottom: none;
  transform: rotate(-18deg) translate(-50%, -50%);
}


.horizontal-line2{
  top: 19%;
rotate: 17deg;
left: 29%;
position: absolute;
height: 60%;
border: 2px solid black;
border-radius: 50%;
transform-origin: left center;
border-bottom: none;
}

.horizontal-line3{
  top: 31%;
  left: 78%;
  rotate: 14deg;
  position: absolute;
  height: 43%;
  border: 2px solid black;
  border-radius: 50%;
  transform-origin: left center;
  border-bottom: none;
}

.horizontal-line4{
  position: absolute;
  top: 27%;
  left: 29%;
  width: 51%;
  height: 2px;
  background-color: black;
  margin: 20px 0;
  rotate: 4deg;
}

#grad12{
  font-weight: bolder;
    background: linear-gradient(90deg, #00ff00, #7eeb7e);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
}