.maincontent{

}
.title1{
  font-size: 56px;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 8px;
}
.personContainer img {
  border-radius: 100%;
  width:20pc;
  height:14pc;
  position: absolute;
  top: 17%;
  left: 16%;
  border: 8px solid black
}

.personContainer1 img {
  border-radius: 100%;
  width:15pc;
  height:10pc;
  position: absolute;
  top: 18%;
  left: 73%;
  border: 8px solid black
}

.personContainer2 img {
  border-radius: 100%;
  width:15pc;
  height:10pc;
  position: absolute;
  top: 66%;
  left: 73%;
  border: 8px solid black
}

.personContainer3 img {
  border-radius: 100%;
  width:15pc;
  height:10pc;
  position: absolute;
  top: 66%;
  left: 18%;
  border: 8px solid black
}

hr {
  border: none;
  border-top: 12px solid #000;
  margin: 20px 0;
  position: absolute;

}

.horizontal-line {
  top: 58%;
  left: 53%;
  position: absolute;
  width: 66%;
  height: 21pc;
  border: 2px solid black;
  border-radius: 50%;
  transform-origin: left center;
  border-bottom: none;
  transform: rotate(-18deg) translate(-50%, -50%);
}


.horizontal-line2{
  top: 19%;
    left: 23%;
    position: absolute;
    height: 60%;
    border: 2px solid black;
    border-radius: 50%;
    transform-origin: left center;
    border-bottom: none;
    transform: rotate(20eg) translate(-50%, -50%);
}

.horizontal-line3{
  top: 31%;
  left: 81%;
  position: absolute;
  height: 43%;
  border: 2px solid black;
  border-radius: 50%;
  transform-origin: left center;
  border-bottom: none;
  transform: rotate(20eg) translate(-50%, -50%);
}

.horizontal-line4{
  position: absolute;
  top: 20%;
  left: 29%;
  width: 51%;
  height: 8px;
  background-color: black;
  margin: 20px 0;
}