/* Navbar.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3pc;
    background-color: white;
    padding: 10px 20px;
}

.logo {
    color: white;
    font-size: 24px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: black;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    padding: 8px 16px;
}

.nav-links a:hover {
    background-color: white;
    border-radius: 4px;
}

